h1{
    text-align: center;
    font-size: 50px;
    color: white;
    background-color: darkred;
    border: 2px solid red;
    border-radius: 10px;
    font-family: Comic Sans ms;
}
p{
    text-align: center;
    font-size: 25px;
    color: white;
    background-color: rgb(48, 48, 48);
    border: 2px solid red;
    border-radius: 10px;
    font-family: Comic Sans ms;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 15px;
}
li{
    float: left;
    border: 3px solid red;
    border-radius: 15px;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Comic Sans ms;
}
li a:hover{
    background-color: #ffe600;
    border-radius: 15px;
    color: black;
}

.vertical{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #333;
    font-family: Comic Sans ms;
    border-radius: 15px;
}
.vertical a{
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}
.vertical a:hover{
    background-color: #ffe600;
    color: black;
    border-radius: 15px;
}